<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="com.example.helloworldplugin.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="com.example.helloworldplugin.commands.category"
            id="com.example.helloworldplugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.example.helloworldplugin.commands.sampleCommand"
            class="com.example.helloworldplugin.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.example.helloworldplugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label"
               mnemonic="%menu.mnemonic"
               id="com.example.helloworldplugin.menus.sampleMenu">
            <command
                  commandId="com.example.helloworldplugin.commands.sampleCommand"
                  mnemonic="%command.mnemonic"
                  id="com.example.helloworldplugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.example.helloworldplugin.toolbars.sampleToolbar">
            <command
                  commandId="com.example.helloworldplugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="%command.tooltip"
                  id="com.example.helloworldplugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
